<h2>All Heroines</h2>

<%= form_tag(heroines_path, method: :get) do %>
  Search by power(case sensitive): <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search', name: nil %>
<% end %>





<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
